/*
Author: Brian Enell
Project: MiU
*/

body {
	background-color: #ffffff;
}

h1 {
	margin: 0px;
	padding: 10px;
	border-bottom-left-radius: 35% ;
	border-bottom-right-radius: 35% ;
	text-align: center ;
	border-style: solid;
	border-width: 1px ;
	border-color: black ;
	background-color: #ffffff;
	font-weight: bold;
/* 	text-shadow: 2px -2px 5px #e2aca0; */
	font-family: fantasy;
}

form {
	margin: 0px;
	list-style-type: cjk-ideographic;
	background-color: #ffffff;
	text-shadow: -3px 0px 5px #d0b688;
	padding-left: 2px;
	font-family: fantasy;
}

items {
	text-shadow: 0px -2px 5px #fdff87;
	background-color: #e4d2f6;
	font-family: fantasy;
}

submit {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 100px;
	padding-left: 100px;
	font-family: fantasy;
}
.button {
    border: 1px solid #006;
    background: #ccf;
}